tr{
    background-color:cornflowerblue;
  }

  .recViewFormStyle{
    background-color: #D6EEEE;
  }

  .thColor{

    background-color:lightgreen;
  }

  .slds-p-around_small{

    background-color:khaki;
  }