/* .slds-card{
  
    box-shadow: 5px 10px 18px #72ce21;
  } */

  .slds-p-around_medium{
    /* box-shadow: 5px 10px 18px #460dcc; */
    box-shadow: 3px 6px 7px #b9c0bb;
}
/* .haddingColor{
  color: rgb(223, 16, 102);
  font-size: 13.5px; 
} */
.name{
  color: rgb(8, 8, 8);
  font-family: 'Trebuchet MS', sans-serif;
  
}
.email{
  color: hwb(330 58% 39%);
  margin-left: auto;
  
}
/* .button{
  margin-left: 80px;
} */
.nameAllin{
  margin-right: 20px;
}
.sldsInput{
  width: 96%;
  margin-left: -12px;
  padding-left: 23px;
}