.card_boundary{
    box-shadow: 2px 5px 8px  #b9c0bb;

    /* width: 195px; */
    height: 377px; 
    /* background-color: azure; */

    /* height: 25em;
width: auto;
display: inline-block; */
}


.tableName{
    color: hwb(330 58% 39%);
    /* background-color: azure; */
    font-family: 'Trebuchet MS', sans-serif;
    /* font-style: italic; */
    /* text-indent: 100px; */
}
.slds-text-color_success{
    color: #060707ec;
    /* background-color: azure; */
    font-family: "Lucida Console", "Courier New", monospace;
    /* font-style: italic; */
}

.slds-rich-text-editor__output > span > p > img{
    height: 100%;
    width: auto;
    object-fit: contain;
}   

.slds-rich-text-editor__output{
    z-index: 10000;
}